<div class="well">
  <h1>Here is all of our glorious junk!</h1>
  <% if @products.any? %>
    <% @products.each do |product| %>
    <div class="well">
      <%= product.name %> |
      <%= product.found_in %>
      <p>$<%= product.going_price %>.00</p>
        <% if @user != nil%>
        <%= link_to "click here for more details about this item", user_product_path(@user, product) %>
        <% else %>
        <%= link_to "click here for more details about this item", product_path(product) %>
        <% end %>
    </div>
    <% if @user != nil && @user.is_admin %>
    <%= link_to "edit", edit_user_product_path(@user, product) %>
    <%= link_to "delete", user_product_path(@user, product), :method => "delete"  %>
    <% end %>

      <% end %>
    <% else %>
    <h3>We have currently run out of inventory!</h3>
  <% end %>
  <% if @user != nil && @user.is_admin %>
  <%= link_to "Add A Product", new_user_product_path(@user) %>
  <% end %>
</div>
