<div class="well">
  <h1>Here is all of our glorious junk!</h1>
</div>
  <% if @products.any? %>
    <% @products.each do |product| %>
    <div class="well">
    <h2><%= product.name %></h2>

    <h3> Region of Discovery: <%= product.found_in %></h3>

      <h3>Going Price: $<%= product.going_price %>.00</h3>
        <% if @user != nil%>
        <%= link_to "click here for more details about this item", user_product_path(@user, product) %>
        <% else %>
        <%= link_to "click here for more details about this item", product_path(product) %>
        <% end %>
    </div>
      <% end %>
    <% else %>
    <h3>We have currently run out of inventory!</h3>
  <% end %>
  <% if @user != nil && @user.is_admin %>
  <%= link_to "Add A Product", new_user_product_path(@user), :class => "btn btn-default" %>
  <% end %>
</div>
