<h1>Add a photo to: <%= @product.name %></h1>
<%= render "/layouts/errors", :object => @image %>
<% if @user === nil %>
<div class="jumbotron">
<h1>ADMINS ONLY</h1>
<% else %>
<% if @user.is_admin %>
<%= form_for [@product, @image] do |f| %>
<%= f.file_field :product_image %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>
<%= f.submit %>
<% end %>
<% else %>
<div class="jumbotron">
<h1>ADMINS ONLY</h1>
</div>
<% end %>
<% end %>
