<%= render "layouts/errors", :object => @product %>
<div class="well">
<%= form_for @product do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.textfield :name %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.textfield :description %>
</div>
<div class="form-group">
  <%= f.label :found_in %>
  <%= f.textfield :found_in %>
</div>
<div class="form-group">
  <%= f.label :going_price %>
  <%= f.numberfield :going_price %>
</div>
<%= f.submit %>
<% end %>
</div>
